@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(148, 38%, 91%);
  --foreground: hsl(187, 24%, 22%);
  --main-green: hsl(169, 82%, 27%);
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
